---
# This playbook configures ZSH with the configuration files placed in {{ zdot_dir }} while a
# ~/.local/share/zsh is created to store history. The configured ~/.zshenv will set ZDOTDIR to
# {{ zdot_dir }}. While this isn't totally perfect, it helps clean up some of the mess in $HOME
# that would be typical in a ZSH configuration. It also makes it a bit easier to break the
# configuration into multiple files rather than having everything in one giant rc file. All files
# are created as symlinks which hopefully makes it easier to track changes.
- name: Create zsh config directory
  file:
      path: "{{ zdot_dir }}"
      state: directory
- name: Create zsh history directory
  file:
      path: "~/.local/share/zsh"
      state: directory
- name: Install zshenv
  file:
      src: "{{ user_local_checkout_dir }}/roles/zsh/files/zshenv"
      dest: "~/.zshenv"
      state: link
- name: Install zsh config files
  file:
    src: "{{ user_local_checkout_dir }}/roles/zsh/files/{{ item }}"
    dest: "{{ zdot_dir }}/{{ item }}"
    state: link
  with_items:
    - "aliases"
    - "asciinema"
    - "colors"
    - "functions"
    - "loadtools"
    - "pre-ohmyzsh"
    - "wslconfig"
    - "wslfixes"
    - "xdg"
    - "zsh"
- name: Install zshrc
  file:
      src: "{{ user_local_checkout_dir }}/roles/zsh/files/zshrc"
      dest: "{{ zdot_dir }}/.zshrc"
      state: link
- name: Install oh-my-zsh
  git:
    repo: "https://github.com/robbyrussell/oh-my-zsh"
    dest: "{{ zdot_dir }}/.oh-my-zsh"
- name: Install zsh_syntax_highlighting
  git:
    repo: "{{ zsh_syntax_highlight_git }}"
    dest: "{{ zdot_dir }}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
